@{
    ViewData["Title"] = "Employee Page";
}
@model EmployeeViewModel[];



    <div class="row">
        <div class="col-8 offset-2">
            <h3>Employees</h3>
            @foreach (var employee in Model)
            {
                <div>employee.FullName - employee.CellPhoneNo</div>
            }
        </div>
    </div>
